# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.rtexe

# Metadata
*.aliases
*.lvlps
.cache/

# builds
*/Builds/*
*/builds/*
Builds/*
builds/*
*/Builds2/*
*/builds2/*
Builds2/*
builds2/*
*/builds/FRC_CtrlTrajLib_Test/*_log.txt
*/builds/FRC_CtrlTrajLib_Test/*.bin
builds/FRC_CtrlTrajLib_Test/*_log.txt
builds/FRC_CtrlTrajLib_Test/*.bin
FRC_Traj_Util/builds/UtilPgms/*_log.txt
FRC_Traj_Util/builds/UtilPgms/FRC_LV_Trajectory_Utilities_Create_Trajectory_Using_TrajectoryLibrary_log.txt
