# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.rtexe

# Metadata
*.aliases
*.lvlps
.cache/

# builds
*/Builds/*
FRC_Traj_Util/builds/UtilPgms/*_log.txt
FRC_Traj_Util/builds/UtilPgms/FRC_LV_Trajectory_Utilities_Create_Trajectory_Using_TrajectoryLibrary_log.txt
*/builds/FRC_TrajLib_Test/*_log.txt
